body {
  margin: 8px;
}

h1 {
  font-size: 48px;
  margin: 0;
}

h1 a {
  color: purple;
  text-decoration: underline;
}

h2 {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

ol, ul {
  padding-left: 40px;
}

img {
  display: block;
  margin-top: 10px;
}
a {
  color: blue;
  text-decoration: underline;
}